<div class="form-box">
  <%= simple_form_for @cocktail do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, "Create", class: "btn-primary" %>
<% end %>
<%= link_to  root_path, class:"btn-back btn-back-new" do  %>
<i class="fas fa-cocktail"></i>
<% end %>
</div>




