

<div class="card-product">
  <img src="https://source.unsplash.com/random" alt="product"/>
  <div class="card-product-infos">
    <h2><%= @cocktail.name.capitalize %></h2>
    <p>
      <% @cocktail.doses.each do |dose|%>
        ✔︎ <%= dose.description + " :  " + dose.ingredient.name.capitalize %>
        <%= link_to  dose_path(@cocktail), method: :delete, data: {confirm: "Are you sure?"}  do%>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
    </p>
  </div>
</div>



<%= link_to "+", new_cocktail_dose_path(@cocktail), class: "btn-addition" %>
<br>
<%= link_to "Back to list", cocktails_path %>
